<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reseptit</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Vegaaniset reseptit</h1>
        <a href="/">Etusivulle</a>
    </header>

    <main>
        <section>
            <h2>Reseptit</h2>
            <ul>
                <li th:each="recipe : ${recipes}">
                    <h3 th:text="${recipe.recipeTitle}">Reseptin nimi</h3>
                    <p><strong>Ainekset:</strong> <span th:text="${recipe.ingredients}">Ainekset </span></p>
                    <p><strong>Valmistus:</strong> <span th:text="${recipe.instructions}">Ohjeet</span></p>
                    <p th:text="'Valmistusaika (min): ' + ${recipe.prepTime} + ' minutes'"></p>
                    <p th:text="'Annokset: ' + ${recipe.servings}"></p>
                </li>
            </ul>
        </section>

        <section>
            <h2>Uusi resepti</h2>
            <form action="/submitRecipe" method="post">
                <label for="title">Reseptin nimi:</label>
                <input type="text" id="title" name="recipe_title" required>
                <br>
                <label for="ingredients">Ainekset:</label>
                <textarea id="ingredients" name="ingredients"></textarea>
                <br>
                <label for="instructions">Ohjeet:</label>
                <textarea id="instructions" name="instructions"></textarea>
                <br>
                <label for="prepTime">Valmistusaika (min):</label>
                <input type="number" id="prepTime" name="prep_time">
                <br>
                <label for="servings">Annokset:</label>
                <input type="number" id="servings" name="servings">
                <br>
                <button type="submit">Tallenna</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Vegit - All rights reserved.</p>
    </footer>
</body>
</html>